<!DOCTYPE html>
<html>
	{% include head.html%}
<body id="top">
	<div class="mask"></div>
	<div id="menu_list" class="menu_list">
		<div id="jquery-accordion-menu" class="jquery-accordion-menu red">
			<div class="jquery-accordion-menu-header">
				<div id="close_menu" class=" menu_close fa fa-close fa-2x"></div>
			</div>
			<ul id="demo-list">
				<li class="active"><a href="/"><i class="fa fa-home"></i>Home </a></li>
				<li><a href="/projects.html"><i class="fa fa-microchip"></i>Projects</a></li>
				<li><a href="#"><i class="fa fa-pencil"></i>Posts</a>
					<ul class="submenu">
						<li><a href="/posts">All </a></li>
						<li><a href="#">Embeded </a></li>
						<li><a href="#">Linux </a>
							<ul class="submenu">
								<li><a href="#">basic </a></li>
								<li><a href="#">development </a></li>
							</ul>
						</li>
						<li><a href="#">Tools </a></li>
					</ul>
				</li>
				<li><a href="#"><i class="fa fa-file-image-o"></i>Gallery </a><span class="jquery-accordion-menu-label">0</span></li>
				<li><a href="/"><i class="fa fa-user"></i>About Me</a></li>
				<li><a href="#footer"><i class="fa fa-envelope"></i>Contact </a></li>
			   
			</ul>
			<div class="jquery-accordion-menu-footer">
				<div class="right"><a style="color: white;padding-right: 10px;" href="http://www.jianshu.com/u/cfb41c60f60c" target="_blank" ><i class="fa fa-external-link "></i> JianShu(Blog)</a></div>
			</div>
		</div>
	</div>
	<div class="body_content">
		<div id="head_content_container">
			<div id="head_content">
				{% include header.html %}
				<div class="content_wrap">
				{% if page.img %}
					<div class="post_cover_img">
						<img src="/assets/images/{{page.img}}">
					</div>
				{% endif %}
					{{ content }}
				</div>
			</div>
		</div>
		{% include footer.html %}
	</div>
</body>
</html>